<body>
  <div class= "container">
    <div class="col-md-6 col-md-offset-2">
      <h1>LOGO trang  </h1>
    </div>
    <%= form_tag(newposts_path, :method => "get", id: "search-form") do %>
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag :search, params[:search],class: "form-control", 
                            placeholder: "Tìm theo tiêu đề" %><br>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <%= submit_tag "Search", class: "btn btn-primary btn-block", :name => nil %>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      <br><p> Language : <a href="#">English </a>   <a href="#"> Tieng Viet</a> </p>
    </div>
    <!--Finding most or least used tags -->
    <div>
      
    </div>
  </div>
</body>