<!-- slide -->

    <% @posts = Post.order("created_at desc").limit(5) %>
    <div class="owl-carousel">
      <% @posts.each do |post| %>
        <div class="owl-carousel-item">
          <%= link_to image_tag(post.image_url, :class => 'list2_image' ), post %>
          <p class="carouseltext">
            <%= link_to post.title, post, {:style=>"color:#fff !important;"} %>
          </p>
        </div>
      <% end %>
    </div>


<!-- end-slide -->