@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

.navbar-default {
  font-family: Ubuntu, sans-serif; 
  padding-left: 4em;
  padding-right: 4em;
  background-color: #DD4814;
  font-size: 1.3em;
  li {
    font-size: 1.3em;
    color: #fff;
  }
}

body {
 background: linear-gradient(#e6e6e6,#cccccc);
 background-repeat: repeat-x;
}


.container {
  padding-top: 10px;
  background-color: #e6e6e6;
  min-height: 700px;
}

.title {
  font-size: 1.7em;
  line-height: 1em;
  margin-top : 1em;
  margin-bottom: 2em;
  font-weight: normal;
  color: #0d0d0d;
  font-family: Ubuntu, sans-serif; 
}

.comment{
  font-family: Ubuntu, sans-serif; 
  font-size: 1.7em;
  line-height: 1em;
  margin-top : 2em;
  margin-bottom: 1em;
  font-weight: normal;
  color: #0d0d0d;
}

.col-md-10.col-md-offset-1 {

  
}






/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Ubuntu, sans-serif; 
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  text-align: center;
  color: #0d0d0d;
  font-family: Ubuntu, sans-serif; 
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: #0d0d0d;
  font-family: Ubuntu, sans-serif; 

}

p {
 color: #0d0d0d;
 font-family: Ubuntu, sans-serif;
 font-size: 15px;
}

dd {
  font-size: 1.1em;
  font-family: Ubuntu, sans-serif; 
  color: #4d4d4d;
}
dt {
  color: #0d0d0d;
  font-family: Ubuntu, sans-serif; 
}



/* forms */
#smallsearch {
  width: 11em;
  height: 10px;
} 

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-left: 5em;
  padding-right: 5em;
  border-top: 1px solid $gray-medium-light;
  color: #0d0d0d;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.alert-error{
    color: #f00;
    @extend .alert;
    @extend .alert-danger;
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.post_info {
  color: #0d0d0d;
}

.railsdict {
  font-size: 30px;
  font-family:"YoungStar";
  src:url("http://www.myfontfree.com/data/14/y/youngstar/youngst.ttf");
  text-align: center;
}