@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

.navbar-inverse {
    color: #fff;
    font-size: 1.3em;
    li {
      font-size: 1.3em;
      color: #fff;
    }
}

body {
 padding-top: 60px;
 background: linear-gradient(#333333,#333333);
 background-repeat: repeat-x;
 min-height: 700px;
 color: #0059b3;
}

.title {
  font-size: 1.7em;
  line-height: 1em;
  margin-top : 1em;
  margin-bottom: 2em;
  font-weight: normal;
  color: #e6e6e6;
}

.comment{
  font-family: "adobe-clean";
  font-size: 1.7em;
  line-height: 1em;
  margin-top : 2em;
  margin-bottom: 1em;
  font-weight: normal;
  color: #e6e6e6;
}

.col-md-10.col-md-offset-1 {
  background-color: #404040;
  min-height: 700px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "adobe-clean";
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  text-align: center;
  color: #e6e6e6;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: #e6e6e6;

}

p {
 color: #e6e6e6;
}

dd {
  font-size: 1.1em;
  font-family: "adobe-clean"; 
  color: #e5f2ff;
}
dt {
  color: #e6e6e6;
}



/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 40%;
  border-top: 1px solid $gray-medium-light;
  color: #e6e6e6;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.alert-error{
    color: #f00;
    @extend .alert;
    @extend .alert-danger;
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.post_info {
  color: #e6e6e6;
}

.railsdict {
  font-size: 30px;
  font-family:"YoungStar";
  src:url("http://www.myfontfree.com/data/14/y/youngstar/youngst.ttf");
  text-align: center;
}