<footer class="footer">
  <small>
    &#169; 2015 <a href="http://facebook.com/tran.khoi.50/" style="color:#000 !important;">Tran Khoi. </a>All Rights Reserved. 
  </small>
  <nav>
    <ul>
      <li><a href="#" style="color:#000 !important;">About </a></li>
      <li><a href="#" style="color:#000 !important;">Contact</a></li>
      <li><a href="http://www.vccloud.vn/bai-viet/" style="color:#000 !important;">News</a></li>
    </ul>
  </nav>
</footer>