
<footer class="footer">
  <small>
    2015 <a href="http://facebook.com/tran.khoi.50/">Tran Khoi. </a>All Rights Reserved. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", href = "#" %></li>
      <li><%= link_to "Contact", href = "#" %></li>
      <li><a href="http://www.vccloud.vn/bai-viet/">News</a></li>
    </ul>
  </nav>
</footer>