<footer>
  <nav class="navbar navbar-left">
    <ul>
      <li>&#169;2015 Tran Khoi. All Rights Reserved.</li>
    </ul>
  </nav>
  <nav class="navbar navbar-right">
    <ul>
      <li>Language : <a href="#">English </a>   <a href="#"> Tieng Viet</a></li>
      <li><a href="#" >About </a></li>
      <li><a href="#" >Contact</a></li>
      <li><a href="http://www.vccloud.vn/bai-viet/" >News</a></li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
  </nav>
</footer>